{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Reset your password' %}{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
  <h3>{% trans 'Forgotten your password?' %}</h3>
        <p>{% trans 'Enter your e-mail address to obtain a new password.' %}</p>
  <div class="password_reset">
    <div class="reset-container">


      <form method="post">
        {{ form.as_p }}
        <p><input type="submit" value="{% trans 'Send e-mail' %}"></p>
        {% csrf_token %}
      </form>
    </div>
  </div>
{% endblock %}
