{% extends "shop/base.html" %}
{% load i18n %}
{% load thumbnail %}


{% block content %}
  <div class="container">
    <div class="order-info">
      <h3>{% trans "Your order" %}</h3>
      <ul>
        {% for item in cart %}
          <li class="order-item">
            <div class="order-item-details">
              <img src="{% thumbnail item.product.image "100x100" crop="smart" %}" alt="{{ item.product.name }}">
              {{ item.product.name }} {% trans 'Size' %}: {{ item.size }}, {% trans 'Quantity' %}: {{ item.quantity }}
            </div>
            <div class="order-item-total">
              <span>${{ item.total_price }}</span>
            </div>
          </li>
        {% endfor %}
      </ul>
      {% if cart.coupon %}
      <li>
          {% trans "Discount code" %}: "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% {% trans "off" %})
          <span class="neg">- ${{ cart.get_discount|floatformat:2 }}</span>
      </li>
      {% endif %}
      <p class="order-total">Total: ${{ cart.get_total_price_after_discount|floatformat:2 }}</p>
    </div>

<form method="post" class="order-form">
    <div class="form-group">
        <label for="first_name">First name:</label>
        <p><input type="text" id="first_name" name="first_name"></p>
    </div>
    <div class="form-group">
        <label for="last_name">Last name:</label>
        <p><input type="text" id="last_name" name="last_name"></p>
    </div>
    <div class="form-group">
        <label for="email">E-mail:</label>
        <p><input type="email" id="email" name="email"></p>
    </div>
    <div class="form-group">
        <label for="address">Address:</label>
        <p><input type="text" id="address" name="address"></p>
    </div>
    <div class="form-group">
        <label for="city">City:</label>
        <p><input type="text" id="city" name="city"></p>
    </div>
    <div class="form-group">
        <label for="postal_code">Postal code:</label>
        <p> <input type="text" id="postal_code" name="postal_code"></p>
    </div>

      <p><input type="submit" value="Order"></p>
      {% csrf_token %}
    </form>
  </div>
{% endblock %}
