{% extends "shop/base.html" %}
{% load i18n %}
{% load thumbnail %}



{% block content %}
  <div class="container">
    <h1>{% trans 'Checkout' %}</h1>


    <div class="order-info">
      <h3>{% trans "Your order" %}</h3>
      <ul>
        {% for item in cart %}
          <li class="order-item">
            <div class="order-item-details">
              <img src="{% thumbnail item.product.image "100x100" crop="smart" %}" alt="{{ item.product.name }}">
              {{ item.product.name }} {% trans 'Size': %} {{ item.size }}, Quantity: {{ item.quantity }}


            </div>
            <div class="order-item-total">
              <span>${{ item.total_price }}</span>
            </div>
          </li>
        {% endfor %}
      </ul>
      {% if cart.coupon %}
      <li>
          {% trans "Discount code:" %} "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% {% trans "off" %})
          <span class="neg">- ${{ cart.get_discount|floatformat:2 }}</span>
      </li>

      {% endif %}
      <p class="order-total">Total: ${{ cart.get_total_price_after_discount|floatformat:2 }}</p>

    </div>

<form method="post" class="order-form">
      {{ form.as_p }}
      <p><input type="submit" value="Place order"></p>
      {% csrf_token %}
    </form>

  </div>
{% endblock %}
