{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Your Orders
{% endblock %}

{% block content %}
<body class="cart-detail-page">
<table class="cart">
  <tbody>
    {% for order in orders %}
      <tr class="order-info">
        <td>Order Number: {{ order.id }}</td>
        <td> <a href="{% url 'orders:order_pdf' order_id=order.id %}">PDF Invoice </a> or
          <a href="{% url 'orders:export_to_csv' order_id=order.id %}">Export to CSV </a>
        </td>
       <td> </td>
        <td>Date: {{ order.created }}</td>
        <td></td>
        <td>Total Price: ${{ order.get_total_cost|floatformat:2 }}</td>
        {% if order.coupon %}
        <tr class="subtotal">
          <td colspan="5">Subtotal</td>
          <td class="num">
            ${{ order.get_total_cost_before_discount|floatformat:2 }}
          </td>
        </tr>
        <tr>
          <td colspan="5">
            "{{ order.coupon.code }}" coupon
            ({{ order.discount }}% off)
          </td>
          <td class="num neg">
            - ${{ order.get_discount|floatformat:2 }}
          </td>
        </tr>
      {% endif %}
      </tr>
      {% for item in order.items.all %}
        <tr>
          <td class="product-image">
            <a href="{{ item.product.get_absolute_url }}">
              <img src="{% if item.product.image %}{{ item.product.image.url }}
              {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ item.product.name }}">
            </a>
          </td>
          <td class="product-name">{{ item.product.name }}</td>
          <td>
            <p class="product-size">Size:
              {% for size in item.size.all %}
                {{ size.name }}
              {% endfor %}
            </p>
          </td>
          <td>
            <p class="product-quantity">Quantity: {{ item.quantity }}</p>
          </td>
          <td class="num price-column">${{ item.price }}</td>
          <td class="num price-column">${{ item.get_cost }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
</body>
{% endblock %}
