body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
     overflow-x: hidden;
}

body {
    font-family: 'Serif';
    background-color: #CFDBC1;
    font-size: 1.375rem
    box-sizing: border-box;
}

header {
    background: linear-gradient(to right, #CAA73A, #93C47D);
    color: white;
    /*text-align: center;*/
    height: 65px;
    padding: 0.10rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

h3.logo a:hover {
    text-decoration: none;
}


@media (max-width: 780px) {
    header {
        padding: 0.5rem;
        height: auto;
        justify-content: flex-start;
    }

    h3.logo {
        margin-left: -5rem;
        order: -1;
    }
}

.languages .dropdown-toggle {
    background-color: transparent;
    color: black;
    border: none;
    padding: 0;
    margin-left: 0;
    margin-top: 0;
}
.languages .dropdown-toggle:hover {
    background: linear-gradient(to right, #AE9032, #91C14B);
    color: white;
}

@media (max-width: 780px) {
.languages .dropdown-toggle{

    margin-left: -1rem;
    }
}
.languages .dropdown-menu {
    background: linear-gradient(to right, #CAA73A, #93C47D);
    min-width: auto;
    width: auto;
}
.languages .dropdown-menu a {
    background: transparent;
    color: white;
}
.navbar-brand a {
    text-decoration: none;
}

.dropdown-menu {
    background: linear-gradient(to right, #CAA73A, #93C47D);
    border: none;
}

.dropdown-menu .dropdown-item {
    color: #000;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
   background-color: transparent;
}

.dropdown-menu .btn {
    display: block;
    width: 100%;
    text-align: left;
}

.dropdown-menu .btn:hover,
.dropdown-menu .btn:focus {
    background-color: transparent;
    color: #000;
}
.dropdown-menu transparent-text {
    color: transparent;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.transparent-background {
    background-color: transparent;
}

#userDropdown.transparent-background {
    background-color: transparent;
}


#userDropdown.no-hover:hover {
    background-color: transparent !important;
}
@media (max-width: 768px) {
  .navbar-nav.ml-auto {
    margin-top: -3rem;
    margin-right: -1rem;
  }
}


#subheader {
    background: linear-gradient(to right, #CAA73A, #93C47D);
    color: white;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right:auto;
    height: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;

}

#subheader .cart {
    background-color: transparent;
    padding: 0.4rem;
    border-radius: 5px;
    margin:  auto;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 10rem;

}

@media (max-width: 780px) {
    #subheader {
        flex-direction: column;
        text-align: center;
    }
    #subheader .cart {
        margin: 1rem ;
        width: 100%;
        max-width: 100%;
        font-size: 15px;

    }
}

#subheader .cart a,
#subheader .cart p {
    color: black !important;
    margin-bottom: 5px;

}

.messages {
    list-style: none;
    padding: 0;
}

.messages li {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.messages li .close {
    margin-left: 10px;
    color: red;
    cursor: pointer;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.container #sidebar {
    width: 250px;
    margin-right: 20px;
    margin-top: 35px;
    background: linear-gradient(to right, #CAA73A, #93C47D)!important;
    color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 780px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .container #sidebar {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}


#sidebar h3 {
    margin-bottom: 10px;
    color: black;
}

#sidebar ul {
    background: linear-gradient(to right, #CAA73A, #93C47D);
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 15px;
}

#sidebar ul li {
    margin-bottom: 5px;
}

#sidebar a {
    text-decoration: none;
    font-weight: bold;

    display: block;
    padding: 8px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    color: black;
}

#sidebar a:hover {
    background: linear-gradient(to right, #AE9032, #91C14B);


}

#sidebar ul.list-unstyled > li > a {
    font-size: 20px !important;

}

#sidebar ul li ul.collapse.show {
    margin-left: 20px;
}


#main .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}

.item {
    background: linear-gradient(to right, #CFDBC1, #C6DDA4);
    margin: 5px;
    border-radius: 0;
    box-shadow: none;
    transition: all 0.3s ease;
    flex: 1 0 19%;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    margin: 0 auto;
}

@media (max-width: 780px) {
    .product-list .item {
        width: 78% !important;
        flex: 0 0 calc(48% - 10px) !important;

    }
}


.product-detail {
  display: flex;
}

.image-group {
  flex: auto;
  margin-left: 35px;
  margin-top: auto;
}
.product-detail .image-group #main-image {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media (max-width: 780px) {
    .product-detail .image-group #main-image {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    }
}

.product-detail .image-group .small-images img {
    margin-right: 1rem !important;
}

.product-detail .image-group .small-images img:last-child {
    margin-right: 0;
}

.recommender {
  margin-top: 5rem;
}

.recommender .recommendations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recommender .recommendations .item {
  flex: 0 0 auto;
  width: auto;
  margin-right: 1rem;
  margin-bottom: 0rem;
}
.recommender img {
    width: 7rem;
}

@media (max-width: 780px) {
    .product-detail {
        flex-direction: column;
        align-items: center;
    }
    #main-image img {
    width: 95%;
  }
    .image-group {
        margin-left: 0;
        margin-top: 1.4rem;
    }

    .recommender {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .review-section {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.product-info a {
    text-decoration: none;
}

.product-info a:hover {
    text-decoration: none;
}

.info {
  flex: 35rem;
  margin-left: flex;
  margin-top: 30px;
  text-align: left;
  margin-right: flex;
}


.product-form {
  margin-top: 1.1rem;
  margin-right: 6rem;
  border-radius: 15px;
}

.product-form label {
  margin-right: 0.2rem;
}
.size-selection {
  margin-bottom: 0.8rem;
}
.product-form select {
  vertical-align: middle;
  width: 3.7rem;
  padding: 0.3rem;
  border-radius: 5px;


}
.product-form select#id_quantity {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 1rem;
}


.wishlist {
    display: inline-block;
}

.wishlist form {
    margin: 0;
}

.wishlist input[type="hidden"] {
    display: none;
}

.wishlist button {
    width: 100px;
    height: 45px;
    background: linear-gradient(to right, #6391BD, #75B54F);
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 45px;
    margin-left: 55px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wishlist button:hover {
    background: linear-gradient(to right, #4F57B5, #75B54F);
    font-size: 1.1em !important;
    transition: font-size 0.2s ease;
}

input[type="submit"] {
  width: 100px;
  background: linear-gradient(to right, #AE9956, #75B54F);
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 45px;
  margin-left: 55px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
@media (max-width: 760px) {
  .product-form {
    margin-top: 0rem;
    margin-right: 0;
    margin-left: 0;
    padding: 0 10px;
  }

  .size-selection,
  .quantity-selection {
    display: inline-block;
    vertical-align: middle;

  }

  .product-form select#id_quantity {
    margin-top: 0;
  }

  .wishlist,
  .add-to-cart {
    display: inline-block;
    width: 48%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .wishlist button,
  input[type="submit"] {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
    height: 40px;
    padding: 5px;
    font-size: 14px;
  }


}
input[type="submit"]:hover {
    background: linear-gradient(to right, #D4B968, #75B54F);
    font-size: 1.1em !important;
    transition: font-size 0.2s ease;
}

.review-section {
    position: absolute;
    margin-top: 18rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #C7D4B7;
    overflow: auto;
    bottom: auto;
}
@media (max-width: 760px) {
    .review-section {
        position: relative;
        margin-top: 4rem;
        bottom: auto;
    }
}

.review-section .review:nth-child(even) {
    background-color: #ADBD99;
    width: auto;
    margin-left: -1.5%;
    padding-left: 2%;
    padding-right: 0%;
}

.review-section .review {
    margin-bottom: 20px;
    margin-top: 20px;
}


.review-section button[type="submit"] {
    width: 140px;
    background: linear-gradient(to right, #AE9956, #4B6EF4);
    color: white;
    padding: 4px;
    border: none;
    margin-top: 1px;
    margin-left: 2px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.review-section button[type="submit"]:hover {
    font-size: 1.1em !important;
    transition: font-size 0.2s ease;
}


.review-section button.delete-review-btn {
    width: 60px;
    background: linear-gradient(to right, #F45959, #EC3939);
    color: white;
    padding: 1px;
    border: none;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 5px;
    top: 0px;
    right: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.review-section button.delete-review-btn:hover {
    background: linear-gradient(to right, #D4B968, #75B54F);
    font-size: 1.1em !important;
    transition: font-size 0.2s ease;
}

table.cart {
    width: 95%;
    border-collapse: collapse;
    margin-top: 105px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background: #C1D9B6;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table.cart img {
   display: inline-block;
    width: 150px !important;
    padding: 2px;

}
@media (max-width: 768px) {
    table.cart img {
        width: 50px !important;
    }
}

table.cart th,
table.cart td {
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
    padding: 0px;
    margin: 0;
}
@media (max-width: 768px) {
    table.cart th,
    table.cart td {
        text-align: left;
        vertical-align: middle;
    }
}
td.product-name {
    font-weight: bold;
}


tbody tr:nth-child(odd) {
    background: #D1E8C6;
}


tbody tr.subtotal {
    background: #ccc;
}

thead th,
tbody tr.total {
    background: linear-gradient(to right, #B49122, #77AC5F);
    color: black;
    font-weight: bold;
}


.product-remove input {
    width: 65px;
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(to right, #B49122, #77AC5F);
    color: black;
    cursor: pointer;
    margin: auto;
}

.product-remove input:hover {
    background: linear-gradient(to right, #BAA04D, #77AC5F);
    transform: scale(1.1);

}
/*
.button {
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: black;
    color: #fff;
    cursor: pointer;
}
*/
.buttons-cart .button.shopping {
    background: linear-gradient(to right, #B49122, #77AC5F);
    color: white;
    text-decoration: black;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-left: 30px;
}

.buttons-cart .button.shopping:hover {
    background: linear-gradient(to right, #AE9032, #91C14B);
    opacity: 0.8;
}

body.cart-detail-page a.button.checkout {
    background: linear-gradient(to right, #B49122, #77AC5F);
    color: white;
    text-decoration: black;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-left: 73rem;

}

.buttons-cart .button.checkout:hover {
    background: linear-gradient(to right, #D4B968, #75B54F);
    opacity: 0.8;
}

@media (max-width: 768px) {
    table.cart {
        width: 100%;
        margin-top: 25% !important;
    }
    table.cart th,
    table.cart td {
        font-size: 10px !important;
        padding: 2px;
    }
    .product-remove input {
        width: 3rem !important;
        height: 1.5rem ;
        padding: 0px;
        margin-right: 15%;
        margin-top: 0;
    }

    .buttons-cart .button.shopping,
    body.cart-detail-page a.button.checkout {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: calc(100% - 65px);
        text-align: center;
    }
    .buttons-cart .button.shopping {
        margin-bottom: 20px;
    }
}

.coupon-info {
    margin-left: 30px;
    margin-top: 10px;
}

.coupon-form {
  display: flex;
  align-items: button;
  margin-left: 30px;
  margin-top: -30px;
}

.coupon-form input[type="text"] {
  border-radius: 15px;
  height: 3rem;
  width: 15rem;
  margin-top: 25px;
  margin-right: 0.5rem;
}

.coupon-form input[type="submit"] {
  border-radius: 10px;
  margin-top: 25px;
}
@media (max-width: 768px){
    .coupon-form input[type="submit"]{
        width: 15rem;
        height: 3rem;
        font-size: 15px;
        font-align: center;
        padding: 0;
        margin-top: 55px;
        margin-right: 5%;
    }
    }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.order-info {
  width: 55%;
  padding: 20px;
  background: linear-gradient(to right, #C7C33C, #A5C796) !important;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  margin-right: 50px;
  margin-top: 0px;

}
.order-info h3 {
  color: #333;
}

.order-info td {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.order-info td a {
    text-decoration: none;

}
@media (max-width: 760px) {
    .order-info {
        width: 100%;
        padding: 20px;
        margin: 10% auto;
    }
}

.order-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;

}

.order-item-details {
  flex-grow: 1;
  margin-bottom: 10px;
}

.order-item-total {
  min-width: 100px;
  text-align: right;
}

.order-total {
  font-weight: bold;
  margin-top: 10px;
}

.order-form {
  width: auto;
  margin-top: 30px;
  align: left;
  padding: 0px;
  border-radius: 5px;
}
@media (max-width: 760px) {
    .order-form {
        width: 90%;
        margin: 0 auto;
    }
}



body.order-detail-page {
    background-color: #f2f2f2;
}
table.orders {
    width: 100%;
    border-collapse: collapse;
}
table.orders td, table.orders th {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
table.orders tr:hover {
    background-color: #f2f2f2;
}
table.orders .product-image img {
    width: 150px;
    height: 150px;
}
table.orders .total {
    font-weight: bold;
}


.wishlist-page .wishlist {
    width: auto;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 50px;
}

@media (max-width: 600px) {
    .wishlist-page .wishlist {
        width: 100%;
        margin-left: 0;
    }
}



.wishlist-page .wishlist tr {
    border-bottom: 1px solid #ddd;
    width: 150%;
}


.wishlist-page .wishlist td {
    padding: 10px;
    width: 20%;

}



.wishlist-page .product-price {
    width: 100px;
}


.wishlist-page .wishlist .product-image img {
    width: 150px;
    height: 150px;
}


.wishlist-page .wishlist .product-remove button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.wishlist-page .wishlist .product-remove button:hover {
    background-color: #cc0000; /
}

/* Contact */
#contact .card {
    width: 50rem ;
}
#contact .btn {
    width: 100%;
}

@media (max-width: 768px) {
    #contact .card {
        width: 130%;
        margin-left: -15%;
        text-align: center;
    }
    #contact .btn {
        width: 100%;
    }
}
